@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('idroid/IDroid.otf')
    format('opentype');
    font-weight: normal;
}

/* @font-face {
    font-family: 'Love';
    src: url('fonts/love larry ttf.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal; */
    

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    

    --fonte-padrão: Arial, Verdana, sans-serif;
    --fonte-android:'Android', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    
}

a.externo::after {
    content: "\1F517" ;
}
img {
    width: 100%;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    

}

p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    
}

header > p {
    font-family: var(--fonte-padrão);
    color: #ffff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-shadow: 2px  2px 0px black;
}

header > h1 {
    color: #ffff;
    font-family: var(--fonte-android);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
    text-shadow: 2px  2px 0px black;
  
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    
}

main {
    min-width: 0px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #ffff;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main img{
    width: 100%;
}

div.video {
    background-color: var(--cor5);
    
    padding: 10px;
    

    position: relative;

}

main strong{
    color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    
    
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);

}
nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px black;
}

nav > a {
   color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
    
}


nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.338);
}

aside > ul {
    list-style-type: "\2714\00A0";
    list-style-position: inside;
    columns: 2;
}

/*
2714 foi tirada da emoji pedia. o \ serve para validar e 00a0 para dar espaço. Não é compatível em todos navegadores
*/

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}


footer {
    background-color: var(--cor5);
    padding: 5px;
    text-shadow: 0px 7px 7px black;
    text-align: center;
}

footer > a {
    color: #ffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold; 
}

footer > a:hover {
   text-decoration: underline;
   color: var(--cor1);
}
